<!--Section our collection-->

<section class="our-collection">
  <div class="our-collection-container">
    <h2 class="our-collection-main-text">Our collection</h2>
    <ul class="our-collection-list our-collection-list-background">
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/august-mobile.jpg     335w,
              ../img/august-mobile@2x.jpg  670w,
              ../img/august-tablet.jpg     342w,
              ../img/august-tablet@2x.jpg  684w,
              ../img/august-desktop.jpg    400w,
              ../img/august-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                        "
            src="../img/our-collection/august-mobile.jpg"
            alt="August Poltava"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="our-collection-price-item">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/gorgany-mobile.jpg     335w,
              ../img/gorgany-mobile@2x.jpg  670w,
              ../img/gorgany-tablet.jpg     342w,
              ../img/gorgany-tablet@2x.jpg  684w,
              ../img/gorgany-desktop.jpg    400w,
              ../img/gorgany-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                      "
            src="../img/our-collection/gorgany-mobile.jpg"
            alt="Blouse Gorgany"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">Women's blouse Gorgany</h3>
          <p class="our-collection-price-item">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/crimea-mobile.jpg     335w,
              ../img/crimea-mobile@2x.jpg  670w,
              ../img/crimea-tablet.jpg     342w,
              ../img/crimea-tablet@2x.jpg  684w,
              ../img/crimea-desktop.jpg    400w,
              ../img/crimea-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                      "
            src="../img/our-collection/crimea-mobile.jpg"
            alt="Crimea"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">Women's blouse Crimea</h3>
          <p class="our-collection-price-item">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/verkhovina-mobile.jpg     335w,
              ../img/verkhovina-mobile@2x.jpg  670w,
              ../img/verkhovina-tablet.jpg     342w,
              ../img/verkhovina-tablet@2x.jpg  684w,
              ../img/verkhovina-desktop.jpg    400w,
              ../img/verkhovina-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                      "
            src="../img/our-collection/verkhovina-mobile.jpg"
            alt="Verkhovina"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">Men's shirt Verkhovina</h3>
          <p class="our-collection-price-item">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/mountain-mobile.jpg     335w,
              ../img/mountain-mobile@2x.jpg  670w,
              ../img/mountain-tablet.jpg     342w,
              ../img/mountain-tablet@2x.jpg  684w,
              ../img/mountain-desktop.jpg    400w,
              ../img/mountain-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                      "
            src="../img/our-collection/mountain-mobile.jpg"
            alt="Mountain"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">Mountain men's shirt</h3>
          <p class="our-collection-price-item">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-item">
        <div class="our-collection-photo">
          <img
            srcset="
              ../img/yasen-mobile.jpg     335w,
              ../img/yasen-mobile@2x.jpg  670w,
              ../img/yasen-tablet.jpg     342w,
              ../img/yasen-tablet@2x.jpg  684w,
              ../img/yasen-desktop.jpg    400w,
              ../img/yasen-desktop@2x.jpg 800w
            "
            ;
            sizes=" (max-width: 767px) 335px,
                    (min-width: 768px) 342px,
                    (min-width: 1158px) 400px
                      "
            src="../img/our-collection/yasen-mobile.jpg"
            alt="Yasen"
            width="335"
          />
        </div>
        <div class="our-collection-text">
          <h3 class="our-collection-name-item">Men's shirt Yasen</h3>
          <p class="our-collection-price-item">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
