     .footer-span{
        color: #ECD979;
    }

    .menu-item:hover,
    .menu-item:focus{
        color: #ECD979;
    }

    .menu-item:focus{
        outline: none;
    }


    
    /******* Mobile Styles  *******/

    @media screen and (min-width:375px) {
        .footer-menu-list{
            display: inline-flex;
            align-items: flex-start;
            width: 280px;
            height: 61px;
            flex-direction: column;
            flex-wrap: wrap;
            column-gap: 40px;
            row-gap: 25px;
            margin: 40px 75px 40px 20px;
        }

        .footer-list{
            font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                /* 128.571% */
                text-transform: uppercase;
        }

        .footer-title{
            margin: 0px 20px 292px 20px;
            width: 335px;
            height: 216px;
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 54px;
            /* 122.727% */
            letter-spacing: -1.32px;
        }


      .footer {
            width: 375px;
            height: 649px;
            margin-left: auto;
            margin-right: auto;
            flex-shrink: 0;
        }

         .footer-wrapper {
            height: 649px;
            display: flex;
            flex-grow: 1;
        }
    
          
        .background {
             background-position: top 437px center;
            background-size: contain;
             background-image: url(../img/footer-background/elements.png);
             background-repeat: no-repeat;
             
         }
    }

/******* Tablet Styles  *******/

@media screen and (min-width: 768px) and (max-width:1279px) {

    .footer{
        width: 768px;
        height: 370px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-wrapper {
        height: 370px;
    }
    
    .footer-menu-list {
        display: inline-flex;
        align-items: flex-start;
        width: 478px;
        height: 18px;
        flex-direction: row;
        flex-wrap: nowrap;
        row-gap: 25px;
        margin: 40px 258px 80px 32px;
    }


    .footer-title{
        width: 521px;
        height: 192px;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        /* 118.519% */
        letter-spacing: -1.62px;
        margin: 0px 215px 40px 32px;
    }


         .background {
             background-position: bottom left 594px;
             background-image: url(../img/footer-background/elements.png);
             background-repeat: no-repeat
         }

}

/* *****Desktop Styles *******/

@media screen and (min-width: 1280px) {
    .footer{
        width: 1280px;
        height: 363px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-wrapper {
      height: 363px;
    }
    
    .footer-menu-list {
         display: inline-flex;
         align-items: flex-start;
         width: 478px;
         height: 18px;
         row-gap: 25px;
         margin: 40px 702px 117px 100px;
    }

        .footer-title{
            width: 754px;
            height: 148px;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 74px;
            letter-spacing: -1.92px;
            margin: 0px 426px 40px 100px;
        }


                 .background {
                     background-position: bottom left 944px;
                     background-image: url(../img/footer-background/elements.png);
                     background-repeat: no-repeat
                 }
}