/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-collection.css');
@import url('./your-order.css');
@import url('./testimonials.css');
@import url('./footer.css');

:root {
  --primary-color: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
